 
.navbar { 
    background-color: darkslateblue; 
    padding: 15px; 
    text-align: center; 
} 
 
.nav-link { 
    color: white; 
    margin: 0 15px; 
    text-decoration: none; 
    font-size: 18px; 
} 
 
    .nav-link:hover { 
        color: yellow; 
    } 
 
    .nav-link.active { 
        color: lightgreen; 
        font-weight: bold; 
    } 
 
.page { 
    text-align: center; 
    margin-top: 40px; 
} 
